@import "tailwindcss";
@import "./styles/organic.css";

@theme inline {
  --font-sans: var(--font-body);
  --font-display: var(--font-heading);
}

@layer base {
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }
}
